$width: 28rem;
$height: 56rem;

$color-write: #ffffff;
$color-main: #2590c2;
$color-light-main: #69cbe9;
$color-gray: #eee;
$color-light-gray: #fff;
$color-default: #666666;
$box-shadow: #aaaaaa;
$color-message-bg: #C9E7FF;
$color-box-bg: #f3f3f3;


$small-size: 1.2rem;
$default-size: 1.4rem;
$large-size: 1.6rem;
$x-large-size: 1.8rem;
