@charset "UTF-8";

@import 'theme';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

html {
    font-size: 62.5%;
    height: 100%;
    overflow: hidden;
}

body {
    font-size: 1.4rem;
    height: 100%;
    overflow: hidden;
}

body>div {
    height: 100%;
}

.v-im {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    background-color: $color-main;
    box-shadow: $box-shadow 2px 2px 5px;
}

.pull-right {
    float: right;
}

.text-center {
    text-align: center;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, .15);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box;
    min-height: 28px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .3);
}
.ivu-drawer-content {
    background: #f3f3f3 !important;
}